.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: 3.6rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eaeaea;
  width: 100%;
}

.title {
  text-align: center;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition:
    color 0.15s ease,
    border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.taskList, .taskEdit, .loginForm {
  width: 90vw;
  border: 1px solid #eaeaea;
  border-radius: 5%;
  padding: 0.5rem;
}

.taskListHeader {
  font-size: 2rem;
  text-align: left;
  padding: 0.5rem;
  margin: 0 1rem;
  border-bottom: 1px solid #eaeaea;
}

.taskListItemsContainer {
  display: flex;
  flex-direction: column;
}

.taskListItem {
  display: flex;
  justify-items: stretch;
  justify-content: space-between;
  align-items: center;
}

.taskListItem>div, .taskListItem>button {
  justify-self: center;
  text-align: center;
  padding: 0.5rem 0.8rem;
  border-left: 1px solid #eaeaea;
  height: 100%;
}

.taskListItem .itemInfo {
  flex-grow: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 30vw;
  text-align: left;
}

.taskListItem .itemTitle {
  font-weight: 700;
  font-size: 1.4rem;
}

.taskListItem .itemDesc {
  font-size: 0.8rem;
}

.taskListItem .edit{
  border: 0px;
  border-radius: 5px;
  font-size: 0.7rem;
  background-color: #eaeaea;
  color: black;
  text-decoration: none;
  padding: 0.5rem;
}

.taskStatus .pending,
.taskStatus .inProgress,
.taskStatus .complete {
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-weight: 700;
  min-width: 18vw;
  max-width: 20vw;
  text-align: center;
  height: 100%;
}

.taskStatus .pending {
  background-color: crimson;
  color: #eaeaea;
}

.taskStatus .inProgress {
  background-color: orange;
}

.taskStatus .complete {
  background-color: greenyellow;
}

.dateDisplay {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  align-items: center;
  justify-items: stretch;
  min-width: 5rem;
}

.dateDisplay .label {
  flex-grow: 0;
}

.dateDisplay .date {
  flex-grow: 1;
}

.formItem {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  font-size: large;
  line-height: 2rem;
}

.formItem label {
  width: 15vw;
  text-align: right;
  padding-right: 2rem;
}

.formItem input,
.formItem select {
  justify-self: stretch;
  flex-grow: 1;
  margin-right: 1rem;
}

.formItem>button {
  width: 100%;
  margin: 1rem;
  padding: 1rem;
  border: 0;
  font-size: large;
}

.formItem>a {
  width: 100%;
  text-align: center;
}

.addTask, .deleteTask {
  float: right;
  height: 2.5rem;
  width: 2.5rem;
  border: 0;
  font-size: x-large;
}

.deleteTask {
  min-width: fit-content;
  font-size: medium;
  padding: 0 1rem;
}

.modalWrapper {
  width: 60vw;
  min-height: fit-content;
}

.modal {
  background: #eaeaea;
  height:100%;
  width:100%;
  border-radius: 15px;
  padding: 2rem;
}

.modalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalBody {
  padding-top: 10px;
}

.modalHeader {
  display: flex;
  justify-content: flex-end;
  font-size: x-large;
}

.logout {
  position: absolute;
  right: 1rem;
  
}